<!-- Sidenav -->
<nav
  class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
  id="sidenav-main"
>
  <div class="scroll-wrapper scrollbar-inner" style="position: relative">
    <div
      class="scrollbar-inner scroll-content scroll-scrolly_visible"
      style="
        height: auto;
        margin-bottom: 0px;
        margin-right: 0px;
        max-height: 594px;
      "
    >
      <!-- Brand -->
      <div class="sidenav-header align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="assets/img/logo2.png" class="navbar-brand-img" />
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['stock']">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Stock</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['agregar-producto']">
                <i class="ni ni-fat-add text-green"></i>
                <span class="nav-link-text">Agregar producto</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['login']">
                <i class="ni ni-key-25 text-info"></i>
                <span class="nav-link-text">Iniciar sesion</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['registrarse']">
                <i class="ni ni-circle-08 text-pink"></i>
                <span class="nav-link-text">Registrarse</span>
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" [routerLink]="['initiated\perfil']">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Perfil</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="scroll-element scroll-x scroll-scrolly_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="width: 0px"></div>
      </div>
    </div>
    <div class="scroll-element scroll-y scroll-scrolly_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="height: 475px; top: 0px"></div>
      </div>
    </div>
  </div>
</nav>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Principal</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#">Tienda<i></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Almacen</a></li>
                <!--Search-->
              </ol>
            </nav>
          </div>
          
          <div class="col-lg-5 col-5 text-right">
            <!--Collapse de carrito-->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle btn-sm btn-neutral"
                type="button"
                id="dropdownCarrito"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Carrito
                <i class="ni ni-cart"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownCarrito">
                <a class="dropdown-item" 
                  >

                  <div class="card border-light" style="max-width: 10rem">
                    
                    <div class="card-body">
                      <h6 class="card-title">AUDIFONOS SAMSUNG</h6>
                      <img src="assets/img/audifonos.jpg" class="img-size" />
                      <br>
                      <br>
                     <label for="aumento">Cantidad :</label>

                            <input
                              type="number"
                              id="aumento"
                              name="aumento"
                              min="1"
                              max="10"
                            />
                      <br>
                      <br>
                      <i class="fas fa-trash-alt icon-color"></i>
                    </div>
                  </div>
                </a>
                <div class="col-xs-1 boton-comprar">
                 <a class="btn btn-primary " href="#" role="button">Comprar</a>
                </div>
               
          
              </div>
            </div>
            <!--fin collapse carrito-->
            <!--Inicio search-->
            <div class="form-group mb-0 col-sm-8">
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center text-lg-left text-muted">
            © 2020
            <a class="font-weight-bold ml-1" target="_blank"> Laisha cr</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
