<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <br />
      <div class="card border-info" style="width: 205%">
        <div class="card-header">Agregar un nuevo producto a Stock</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <form>
            <div class="form-group">
              <label for="nombreProducto">Nombre del producto</label>
              <input
                type="input"
                class="form-control"
                id="nombreProducto"
                placeholder="Ejemplo: Lentes medio marco"
              />
            </div>
            <div class="form-group">
              <label for="cantidadProducto">Cantidad :</label>

              <input
                type="number"
                id="cantidadProducto"
                class="form-control"
                name="Cantidad"
                min="1"
                max="20"
              />
            </div>
            <div class="form-group">
              <label for="precioProducto">Precio </label>
              <input type="input" class="form-control" id="precioProducto" />
            </div>

            <div class="form-group">
              <label for="descripcionProducto"
                >Descripcion del producto:
              </label>
              <input
                type="input"
                class="form-control"
                id="descripcionProducto"
                placeholder="Ejemplo: Lentes oscuros con antirreflejante de metal"
              />
            </div>
            <form>
              <div class="form-group">
                <label for="imagenProducto">Agrega una imagen</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="imagenProducto"
                />
              </div>
            </form>
          </form>
          <button type="button" class="btn btn-success">Subir</button>
        </div>
       
      </div>
       <br>
    </div>
  </div>
</div>
