<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <br />
      <div class="card border-info" style="width: 205%">
        <div class="card-header ">Perfil</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <form>
            <div class="form-group">
              <label for="nombreUsuario">Nombre(s)</label>
              <input
                type="input"
                class="form-control"
                id="nombreUsuario"
                value="Laisha Vanessa"
              />
            </div>
            <div class="form-group">
              <label for="apellidosUsuario">Apellido(s)</label>
              <input
                type="input"
                class="form-control"
                id="apellidosUsuario"
                value="Contreras Maradona"
              />
            </div>
            <div class="form-group">
              <label for="correUsuario">Correo</label>
              <input
                type="email"
                class="form-control"
                id="correUsuario"
                value="la_vcr@hotmail.com"
              />
            </div>
            <div class="form-group">
              <label for="claveUsuario">Clave</label>
              <input
                type="password"
                class="form-control"
                id="claveUsuario"
                value="*************"
              />
            </div>
            <form>
              <div class="form-group">
              <img src="assets/img/perfil.jpg" class="img-size" />
              <br>
                <label for="imagenUsuario">Cambiar imagen</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="imagenUsuario"
                />
              </div>
            </form>
          </form>
          <button type="button" class="btn btn-success">Guardar Cambios</button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
