<div class="main-content">
  <div
    class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9"
    style="background-color: #ffdada"
  >
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Bienvenido a Cool Inventory</h1>
            <p class="text-lead text-white">
              Vamos a darte la mejor organizacion
            </p>
            <br />
            <br />
            <img
              src="assets/img/git.png"
              width="60"
              height="60"
              class="d-inline-block align-top"
            />
            <img
              src="assets/img/myadmin.png"
              width="60"
              height="60"
              class="d-inline-block align-top"
            />
            <img
              src="assets/img/angular.png"
              width="60"
              height="60"
              class="d-inline-block align-top"
            />
            <img
              src="assets/img/tec.png"
              width="60"
              height="60"
              class="d-inline-block align-top"
            />
            <br />
            <br />
            <p class="text-lead text-white">
              Laisha Vanessa Contreras Rodriguez
            </p>
            <p class="text-lead text-white">18091382</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
