<div class="container-fluid">
    <div class="row">
        <div>
            <!-- Stock Etiqueta -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Audifonos Samsung Level U pro 
                      </h5>
                      <h4>Precio: $850</h4>
                      <img src="assets/img/audifonos.jpg" class="img-size" />
                      <br />
                      <br />
                    </div>
                    <div
                      class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                      data-toggle="modal"
                      data-target="#productoModal"
                    >
                      <i class="ni ni-fat-add"></i>
                    </div>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="productoModal"
                      tabindex="-1"
                      aria-labelledby="productoLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="productoLabel">
                              Descripcion del producto
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>
                              Controladores: 2 x Dinámico, 2 x Piezo. Tamaño del
                              controlador: 0.5 pulgadas. Conectividad
                              inalámbrica: Bluetooth 4.1. Profundidad de bits:
                              24 bits (Samsung Audio de calidad insuperable de
                              24 bit)Peso: 0.1 libra.
                            </p>
                            <br />
                            <label for="aumento">Cantidad :</label>

                            <input
                              type="number"
                              id="aumento"
                              name="aumento"
                              min="1"
                              max="10"
                            />
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-dismiss="modal"
                            >
                              Cancelar
                            </button>
                            <button type="button" class="btn btn-primary">
                              Agregar a carrito
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>