<!-- Image and text -->
<nav class="navbar navbar-dark" style="background-color: #e91e63;" >
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" class="navbar-tittle">
    Cool Inventory
  </a>
  
    <a routerLink="/entering">
    
    Ir a tienda
    
    </a>
 
</nav>

<router-outlet></router-outlet>

   
   