<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <br>
      <div class="alert alert-dark" role="alert">Completa pedido</div>

       <div class="card border-info" style="width: 205%">
        <div class="card-header">Datos de envio</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <form>
            <div class="form-group">
              <label for="nombreUsuario">Domicilio(s)</label>
              <input
                type="input"
                class="form-control"
                id="domicilioEnvio"
                placeholder="Ejemplo: Cipres #23"
              />
            </div>
            <div class="form-group">
              <label for="apellidosUsuario">Referencia(s)</label>
              <input
                type="input"
                class="form-control"
                id="referenciaEnvio"
                placeholder="Ejemplo: Casa Azul con cancel negro"
              />
            </div>
            <div class="form-group">
              <label for="claveUsuario">Estado: </label>
              <br>
               <select name="Estado">
      <option value="no">Seleccione uno...</option>
      <option value="Aguascalientes">Aguascalientes</option>
      <option value="Baja California">Baja California</option>
      <option value="Baja California Sur">Baja California Sur</option>
      <option value="Campeche">Campeche</option>
      <option value="Chiapas">Chiapas</option>
      <option value="Chihuahua">Chihuahua</option>
      <option value="CDMX">Ciudad de México</option>
      <option value="Coahuila">Coahuila</option>
      <option value="Colima">Colima</option>
      <option value="Durango">Durango</option>
      <option value="Estado de México">Estado de México</option>
      <option value="Guanajuato">Guanajuato</option>
      <option value="Guerrero">Guerrero</option>
      <option value="Hidalgo">Hidalgo</option>
      <option value="Jalisco">Jalisco</option>
      <option value="Michoacán">Michoacán</option>
      <option value="Morelos">Morelos</option>
      <option value="Nayarit">Nayarit</option>
      <option value="Nuevo León">Nuevo León</option>
      <option value="Oaxaca">Oaxaca</option>
      <option value="Puebla">Puebla</option>
      <option value="Querétaro">Querétaro</option>
      <option value="Quintana Roo">Quintana Roo</option>
      <option value="San Luis Potosí">San Luis Potosí</option>
      <option value="Sinaloa">Sinaloa</option>
      <option value="Sonora">Sonora</option>
      <option value="Tabasco">Tabasco</option>
      <option value="Tamaulipas">Tamaulipas</option>
      <option value="Tlaxcala">Tlaxcala</option>
      <option value="Veracruz">Veracruz</option>
      <option value="Yucatán">Yucatán</option>
      <option value="Zacatecas">Zacatecas</option>
  </select>
              
            </div>
             <div class="form-group">
              <label for="claveUsuario">Municipio</label>
              <input
                type="password"
                class="form-control"
                id="municipioEnvio"
              />
            </div>
             <div class="form-group">
              <label for="claveUsuario">CP</label>
              <input
                type="password"
                class="form-control"
                id="cpEnvio"
              />
            </div>
             <div class="form-group">
              <label for="claveUsuario">Numero telefonico</label>
              <input
                type="password"
                class="form-control"
                id="numero_celularEnvio"
              />
            </div>
            <img src="assets/img/audifonos.jpg" class="img-size" />
           
          </form>
          <br>
          <div class="alert alert-danger" role="alert">Total $983</div>
           <br>
          <button type="button" class="btn btn-success">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>
