<div class="main-content">

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
        <br>
          <div class="card border-primary mb-3 mb-0" >
  
            <div class="card-body px-lg-5 py-lg-5"  >
              <div class="text-center  mb-4">
                <h2>Inicia Sesion</h2>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Correo" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Clave" type="password">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Recordar</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-success my-4">Iniciar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" ><small>Olvide mi clave</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" ><small>Crear nueva cuente</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>